{% extends "blog/base.html" %}
{% block content %}
    <div class="alert alert-info">
        your password has been changed
    
    </div>
    <a href="{% url 'login' %}">sign in here</a>
{% endblock content %}
